{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 9 versions", "ie >= 10"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    ["angularjs-annotate", { "explicitOnly" : true }],
    "lodash",
    "syntax-dynamic-import",
    "transform-runtime"
  ],
  "comments": false
}
