<header class="oui-showcase__header">
    <oui-navbar fixed
        brand="{
            title: 'OVH UIKit',
            url: '#',
            iconClass: 'oui-icon oui-icon-ovh'
        }"
        main-links="$ctrl.mainLinks">
    </oui-navbar>
</header>
<div class="oui-showcase__content">
    <nav class="oui-sidebar oui-showcase__sidenav" role="complementary">
        <div class="oui-sidebar-menu">
            <ul class="oui-sidebar-list">
                <li class="oui-sidebar-list__item"
                    ng-repeat="groupKey in $ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].groupsOrder track by $index"
                    ui-sref-active="oui-sidebar-list__item_active">
                    <span class="oui-sidebar-link"
                        ng-if="groupKey === 'undefined'"
                        ng-bind="$ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].name">
                    </span>
                    <span class="oui-sidebar-link"
                        ng-if="groupKey !== 'undefined'"
                        ng-bind="$ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].groups[groupKey].name || groupKey">
                    </span>
                    <div class="oui-sidebar-menu">
                        <ul class="oui-sidebar-list">
                            <li class="oui-sidebar-list__item"
                                ng-repeat="child in $ctrl.secondLevelsChildren[$ctrl.currentSecondLevelStateName].children[groupKey] track by child.state">
                                <a class="oui-sidebar-link"
                                    ng-bind="child.name"
                                    ui-sref="{{child.state}}"
                                    ui-sref-active="oui-sidebar-link_active">
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main class="oui-showcase__main">
        <div class="oui-showcase__view">
            <oui-message type="info">
                <p><strong>OVH UI Kit v3 is out !</strong></p>
                <p>
                    This documentation only applies to the v2.x and will not be maintained anymore.<br />
                    Please take a look at our <a href="https://www.github.com/ovh-ux/ovh-ui-kit">main repository</a> and <a href="https://ovh-ux.github.io/ovh-ui-kit">new documentation</a> for informations about the new major update !
                </p>
                <p>A guide is availabe for <a href="https://github.com/ovh-ux/ovh-ui-kit/blob/master/V2-TO-V3.md">migrating from v2.x to v3.x.</a></p>
            </oui-message>
            <div ui-view></div>
        </div>
    </main>
</div>
